<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Polymer into Symfony !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="import" href="{{ asset('assets/vendor/polymer/polymer.html') }}" />
            <link rel="import" href="{{ asset('assets/vendor/paper-button/index.html') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('assets/vendor/webcomponentsjs/webcomponents.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
